%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ 'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'data-target' => '#navbar', 'data-toggle' => 'collapse', type: 'button' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Dobermen', root_path, class: 'navbar-brand'
    .navbar-collapse.collapse#navbar
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'GitLab', setting_gitlabs_path
        %li= link_to 'Setting', setting_show_path
